@media only screen and (min-width: 600px) {
    html{
        font-size: 18px;
      }
    .what{
        span{
            display: inline;
        }
    }
    .menu-btn{
        display: none;
    }
    .menu1{
        display: block;
    }
    .icons{
        margin: 0 auto;
        display: flex;
        margin-top: 1em;
        .tr{
            margin-right: 0;
        }
    }
    .skillcon{
        width: 90%;
        margin-right: 2em;
        text-align: center;
    }
    .disc{
        display: flex;
        justify-content: space-between;
    }
    .about{
        margin-left: 2em;
    }
  }

  @media only screen and (min-width: 800px) {
    
    .body{
      width: 80%;
    }
    .about_container{
      display: flex;
    }
    .q{
        display: grid;
        align-content: center;
        width: 380px;
    }
    .headline{
        display: flex;
        justify-content: space-between;
    }
    .bgl{
        display: block;
        position: relative;
        top: -1.5em;
        img{
            width: 300px;
        }
    }
    .footer{
        display: flex;
        margin-bottom: 6vh;
    }
    .int{
        padding-right: 1.3em;
        h2{
            text-align: left;
        }
        h5{
            text-align: left;
        }
    }
    .illus{
        h1{
            font-size: 50px;
            text{
                font-size: 46px;
            }
        }
    }
    
  }
  @media only screen and (min-width: 1000px) {
    .body{
        width: 75%;
      }
    html{
        font-size: 18px;
      }
    .icons span{
        max-width: 250px;
    }
    .bgl{
        img{
            width: 35vw;
            max-width: 500px;
            position: relative;
        }
    }
    .fc{
        margin: 0 0 0 3em;
    }
    .footer{
        display: flex;
        margin-bottom: -3vh;
    }
    .illus{
        max-width: 1000px;
        h1{
            position: relative;
            font-size: 70px;
            text{
                font-size:64px;
            }
        }
    }
    .w{
        position: relative;
        width: 100%;
        max-width: 1500px;
        margin: 0 auto;
    }
    .nav_container, .side{
        max-width: 1350px;
    }
  }