$colortype: (
    line:  #001E16,
    dark:  black,
    color5:#204F8C,
    color4:#071110,
    color3:#107369,
    color2:#0BBF8C,
    color1:#CCCCC3,
    accent:#0FF2B2,
);

@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Rationale&display=swap');
@import url('http://fonts.cdnfonts.com/css/share-techmono-2');
@import '../style/comp/nav';

  html{
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: map-get($colortype, color4 ); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: map-get($colortype, color2 ); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: map-get($colortype, accent );
  }
body{
    margin: 0 auto;
    background-color: map-get($colortype, dark );
    font-family: 'Be Vietnam', sans-serif;
    color: map-get($colortype, color2 ); 
}

// ---------------------------------nav_container---------------------------
.nav_container{
    width: 100%;
    padding: .5em 0 3em 0;
    background-image:linear-gradient( to bottom
    ,map-get($colortype, dark ) 50%,#000f1a00 100%);
    position: fixed;
    z-index: 4;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: .2em 0;
    a{
        position: grid;
        place-content: center;
    }
    ul{
        list-style-type: none;
        margin: 0;
        display: none;
        @extend %text;
        a{
            padding: .7em .8em;
            text-decoration: none;
            color: map-get($colortype, color2 );
            font-size: 15px;
            transition: .3s;
        }
        a:hover{
            color:  map-get($colortype, accent );
        }
    }

}
//-------------------------------------------body---------------------------------------
.bgl{
    display: none;
}
.year{
    position: fixed;
    top: 80vh;
    z-index: 4;
    margin-left: .1em;
}
.arrow{
    z-index: -1;
    top: 85vh;
    right: 0;
    img{
        width: 30%;
    }
}
.body_container{
    height: auto;
    padding: 1em 0;
    transition: .8s ease-in-out;
}
.body_container.show{
    filter: blur(4px);
}
.headline{
    padding: 30vh 0;
}

.body{
    width: 90%;
    margin: 0 auto;
    h3{
        font-size: 1.3em;
        margin: 0;
    }
    h2{
        margin: 0;
        font-size: 1.2rem;
    }
    h4{
        margin: 0;
        margin-bottom: 1em;
        color: map-get($colortype, color1);
        font-weight: lighter;
        line-height: 1.5em;
        font-size: 1rem;
    }
    text{
        color: white;
    }
    a{
        text-decoration: none;
        color: map-get($colortype, color2);
        transition: .5s ease;
        width: 100px;
    }
    a:hover{
        color: map-get($colortype, accent);
    }
}
.quote{
    width: 90%;
}
.line{
    width: 100%;
    // border-left: solid map-get($colortype, line) 1px;
    display: grid;
    padding: 1em 0 1em 0;

}

.body_content{
    display: none;
    display: grid;
    grid-template-rows: repeat(auto);
    grid-gap: 4em;
}
.about_container, 
.work_container,
.footer{
    h3{
        font-size: 1.1em;
    }
}

// ---------------------------------what i do---------------------------

.what{
    display: grid;
    grid-template-rows: repeat(auto);
    grid-gap: 1em;
    margin: 1em 0;
    h2{
        color: white;
    }
    h4{
        margin: 0;
        margin-bottom: .5em;
        color: map-get($colortype , color2 );
        @extend %text;
    }
    h5{
        margin: 0;
        @extend %ltext;
    }
    span{
      display: flex;  
    }
}
.icon img{
        position: relative;
        top: .2em;
        width: 40px;
        margin-right: 1em;
    }
.what, .about, .form{
    margin-right: 1.2em;
}
#work, #about, #contact{
    padding-top: 80px;
}
// -------------------------------------------------------------------
%text {
    font-size: 1.1rem;
    font-weight: bold;
}
%ltext{

    font-weight: lighter;
    line-height: 1.5em;
    font-size: .8rem;
    color: map-get($colortype, color1);
}
// ---------------------------------my_work---------------------------
.work{
    padding: 1em 0;
    border: solid 1px map-get($colortype, line);
    width: 90%;
    h4{
        margin: 0 1em;
        @extend %text;
        color: white;
    }
    h5{
        margin: 1.2em 1.4em;
        @extend %ltext;
    }
    a{
        text-decoration: none;
        color: map-get($colortype , color2 );
        font-weight: bold;
        margin: 0 1em;
        font-size: 1rem;
    }

}
// ---------------------------------about_me---------------------------
.about_container{
    width: 100%;
}
.about, .illus img{
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-in-out;
}
.about, .illus img.fade-in{
    opacity: 1;
    transform: translateY(0);
}
.illus{
    width: 90%;
    text-align: center;
    img{
    margin-bottom: 2em;
    width: 300px;
  }
  }
.resume{
    h5{
        margin: 0;
        margin-top: 10px;
        color: white;
    }
}
.fc{
    width: 100%;
}
.about{
    display: grid;
    grid-template-rows: repeat(auto);
    h4{
        margin-bottom: .5em;
        @extend %text;
        font-size: 1.5rem;
        font-weight: bold;
    }
        h5{
            margin: 0;
            @extend %ltext;            
        }
}


// ---------------------------------footer---------------------------
.footer{
    width: 100%;
    margin-bottom: 2.5vh;
    .int{
        margin-bottom: 1em;
    }
    h2{
        color: white;
        font-size: 1.5rem;
        }
        h3{
            margin: 0;
        }
    h5{
        
        color: map-get($colortype, color1);
        font-weight: lighter;
        line-height: 1.5em;
        font-size: .83em;
        margin: 1em 0;
        a{
            color: map-get($colortype , accent );
            margin: 0;
            text-decoration: underline;
            font-size: 1rem;
        }
    }
    form{
        margin: .5em 0;
    }
}

.form-group {
	position: relative;
    margin: 0 0 1.5em 0;
	span {
		font-size: .8rem;
		color: white;
		position: absolute;
		top: .5em;
		transition: all .2s ease;
		transform-origin: 0 0;
		cursor: text;
        font-weight: lighter;
        pointer-events: none;
	}
	.border {
		height: 2px;
		display: block;
		position: relative;
		width: 95%;
		left: 0;
        top: -2px;
		transform: scaleX(0);
		transition: all .3s ease;
		background: map-get($colortype , accent );
	}
}
.mb{
    margin-bottom: .5em;
}
.form-control {
	border: none;
    color: white;
	border-bottom: solid map-get($colortype , line ) 2px;
	display: block;
	width: 95%;
    padding: .2em 0;
	font-size: 1.1rem;
	background: none;
    outline: none;
	&:focus, &:valid {
		& + span {
			transform: translateY(-1.5em) scale(.7);
            color: map-get($colortype , accent );
			& + .border {
				transform: scaleX(1);
			}
		}
	}
    
}
.send{
        border: none;
        background: none;
        color: map-get($colortype , color2 );
        font-size: 1.1rem;
        font-weight: bold;
        transition: .5s;
        padding: 0;
    }
    .send:hover{
        color: map-get($colortype , accent );
    }
textarea.form-control {
    height: 60px;
}

.footer1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: solid map-get($colortype , color2 ) 1px;
    span{
    font-weight: lighter;
    color: #5a5a5a;
    h6{
        font-size: 10px;
        margin: 1.5em 0;
    }
}
}

  @media only screen and (min-width: 600px) {
    .about_container{
      display: flex;
    }
    html{
        font-size: 18px;
      }
      
    .headline{
        display: flex;
        justify-content: space-between;
    }
    .what{
      width: 400px;
    }
    .int{
        margin-right: 2em;
    }
    .disc{
        display: flex;
    }
    .illus{
        order: 2;
        margin: 0 1em;
        img{
            width: 200px;
        }
    }
    .about{
        order: 1;
    }
  }

  @media only screen and (min-width: 800px) {
    
    .body{
      width: 80%;
    }
    .about_container{
      display: flex;
    }
    .bgl{
        order: 2;
        display: block;
        img{
            width: 300px;
        }
    }
    q{
        order: 1;
    }
    .what{
        width: 500px;
      }
    .footer{
        display: flex;
        margin-bottom: 6vh;
    }
    .illus{ 
        margin: 0 2em;
        img{
            width: 250px;}
    }
    
  }
  @media only screen and (min-width: 1000px) {
    .body{
        width: 75%;
      }
    html{
        font-size: 22px;
      }
    .headline{
        padding: 31vh 0;
    }
    .bgl{
        img{
            width: 500px;
            position: relative;
            top: -1.5em;
        }
    }
    .int{
        width: 600px;
        margin: 0;
    }
    .fc{
        margin: 0 0 0 1em;
    }
    .footer{
        display: flex;
        margin-bottom: -3vh;
    }
    .illus img{
        width: 300px;
    }
  }
