$colortype: (
    line:  #001E16,
    dark:  black,
    color5:#204F8C,
    color4:#071110,
    color3:#107369,
    color2:#0BBF8C,
    color1:#bbbbbb,
    accent:#0FF2B2,
);

@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Rationale&display=swap');
@import url('http://fonts.cdnfonts.com/css/share-techmono-2');
@import '../style/comp/nav';

.epiccursor{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #0BBF8C;
    position: fixed;
    z-index: 5;
    opacity: .9;
    pointer-events: none;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
} 
.cursormain{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    z-index: 5;
    pointer-events: none;
}
.addcopy{
    width: 80px;
    height: 80px;
    position: fixed;
    z-index: 5;
    pointer-events: none;
    transform: scale(0);
    background-image: url('../../svg/addcopy.svg');
}

.visitSite, .caseStudy{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: map-get($colortype, color3 ); 
    color: white;
    position: fixed;
    z-index: 5;
    text-align: center;
    display: grid;
    font-size: 15px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    letter-spacing: 1px;
    transform: scale(0);
    pointer-events: none;
}

.shrink{
    transform: scale(1.2);
    opacity: 0;
}
.sitegrow{
    animation: cursorAnim2 0.3s forwards;
}

.expand{
    animation: cursorAnim2 0.3s linear;
}
.grow{
    animation: cursorAnim .5s infinite alternate;
    border: 1px solid #0FF2B2;
}

@keyframes cursorAnim{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
}

@keyframes cursorAnim2{
  25%  {transform: scale(.5);}
  75%  {transform: scale(1.2);}
  100%  {transform: scale(1);}
}
@keyframes cursorAnim3{
  to{transform: scale(0);}
}


  html{
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: map-get($colortype, color4 ); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: map-get($colortype, color2 ); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: map-get($colortype, accent );
  }
body{
    margin: 0 auto;
    background-color: map-get($colortype, dark );
    font-family: 'Be Vietnam', sans-serif;
    color: map-get($colortype, color2 ); 
    cursor: none;

    a{
        cursor: none;
    }

}

// ---------------------------------nav_container---------------------------
.nav_container{
    width: 100%;
    padding: .8em 0 3em 0;
    background-image:linear-gradient( to bottom
    ,map-get($colortype, dark ) 50%,#000f1a00 100%);
    position: fixed;
    z-index: 4;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: 0 auto;
    padding: .2em 1.5vw;
}
//-------------------------------------------body---------------------------------------
.bgl{
    order: 2;
    display: none;
}
.q{order: 1;}
.arrow{
    width: 15px;
    position: relative;
    top: 40px;
}

.side{
    width: 96%;
    padding: 0 1.5vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 5vh;
    z-index: -4;
    margin: 0 auto;
}
.body_container{
    height: auto;
    padding: 1em 0;
    transition: .8s ease-in-out;
}
.headline{
    padding: 30vh 0;
}

.body{
    width: 85%;
    margin: 0 auto;
    h3{
        font-size: 1em;
        margin: 0;
    }
    h2{
        margin: 0;
        font-size: 1.1rem;
        font-weight: lighter;
        color: map-get($colortype, color3);
    }
    h4{
        margin: 0;
        margin-bottom: .5em;
        color: map-get($colortype, color1);
        line-height: 1.5em;
        font-size: 1.2rem;
        font-family: 'Kanit', sans-serif;
    }
    text{
        color: map-get($colortype, color1);
    }
    a{
        text-decoration: none;
        color: map-get($colortype, color2);
        transition: .5s ease;
    }
    a:hover{
        color: map-get($colortype, accent);
    }
}
.quote{
    width: 90%;
    max-width: 500px;
    margin: .5em 0;
}
.line{
    padding: 1em 0;
}

.about_container, 
.work_container,
.footer{
    h3{
        font-size: 1.1em;
        font-weight: lighter;
        color: map-get($colortype, color3);
    }

}

// ---------------------------------about_me---------------------------
.illus{
    margin-bottom: .5em;
    h1{
        position: relative;
        margin: 0;
        font-weight: bolder;
        font-size: 2.5rem;
        font-family: 'Kanit', sans-serif;
        color: map-get($colortype, color2);
        line-height: 1em;
        text{
            font-size: 2.2rem;
            color: map-get($colortype , color2 );
        }
    }
  }
.about{
    max-width: 600px;
}
.fc{
    width: 100%;
}
#about{
    h6{
        margin: 0;
        font-size: .8rem;
        color: map-get($colortype , color1 );
        font-weight: lighter;
    }
    h5{
      margin: 0;
      font-weight: normal;
      color: map-get($colortype , color1 );
        a{
            font-size: 1.2em;
        }    
    }
}

// ---------------------------------what i do---------------------------

.what{
    text-align: center;
    h4{
        margin: 0;
        margin-bottom: .5em;
        color: map-get($colortype , color2 );
        font-family: 'Kanit', sans-serif;
        font-size: 1.5rem;
    }
    h5{
        margin: 0;
        @extend %ltext;
    }
   
} 
.b{
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    color: map-get($colortype , color2 );
}
.icons{
    width: 100%;
    display: grid;
    justify-content: center;
}
.skillcon{
    padding: 1.5em;
    border: solid 1px map-get($colortype, line);
    margin: 1.5em 0;
}

.icon img{
        width: 3em;
        margin: 1.5em;
    }

#work, #about, #contact{
    padding-top: 80px;
}
// -------------------------------------------------------------------
%text {
    font-size: 1.2rem;
    font-weight: bold;
}
%ltext{
    font-weight: lighter;
    line-height: 1.7em;
    font-size: 1rem;
    color: map-get($colortype, color1);
}
// ---------------------------------my_work---------------------------
.wline{
    padding: 1em 0;
}
.work{
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0;
    position: relative;
    border-bottom: solid 1px map-get($colortype, line);
    h4{
        margin-bottom: .5em;
        color: white;
        font-family: 'Kanit', sans-serif;
    }
    h5{
        margin: 0;
        @extend %ltext;
    }
}

.argo{
    margin-left: 2em;
    padding-top: 5px;
    img{
        transform: rotate(-90deg);
        transition: .2s ease-in-out;
    }
}

.work:hover .argo img{
    transform: rotate(-130deg);
}

.overlay{
    position: absolute;
    font-weight: bolder;
    color: rgb(85, 85, 85);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    transition: .5s ease-in-out;
}

.work:hover .overlay{
    opacity: .9;
}

// ---------------------------------footer---------------------------
.footer{
    width: 100%;
    .int{
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
        text-align: center;
        margin-bottom: 2em;
    }
    h2{
        color: white;
        font-size: 2rem;
        font-family: 'Kanit', sans-serif;
        }
        h3{
            margin: 0;
        }
    h5{
        color: map-get($colortype, color1);
        font-weight: lighter;
        line-height: 1.5em;
        font-size: 1rem;
        margin: 1em 0;
        a{
            color: map-get($colortype , accent );
            margin: 0;
        }
        
    }
    form{
        margin: .5em 0;
        border: solid 1px map-get($colortype, line);
        padding: 1.5em 1em ;
    }
}

.link{
    display: grid;
    align-content: center;
    margin-left: 1em;
    background: none;
    color: map-get($colortype, color1 );
    cursor: none;
    border: none;
    padding: 0 1.5em;
    background: black;
    transition: .3s linear;
}
.clipb{
    position: relative;
    bottom: -2px;
}

.link:active {
    .clipb{
        animation: cursorAnim2 0.3s linear 1;
    }
}
.con{
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 1em;
    border-bottom: solid 1px map-get($colortype, line);
    transition: .4s ease-in-out;
}


.form-group {
	position: relative;
    margin: 0 0 1em 0;
	span {
		font-size: .7rem;
		color: white;
		position: absolute;
		top: .5em;
		transition: all .2s ease;
		transform-origin: 0 0;
		cursor: text;
        font-weight: lighter;
        pointer-events: none;
	}
	.border {
		height: 2px;
		display: block;
		position: relative;
		left: 0;
        top: -2px;
		transform: scaleX(0);
		transition: all .3s ease;
		background: map-get($colortype , accent );
	}
}
.mb{
    margin-bottom: .5em;
}
.form-control {
	border: none;
    color: white;
	border-bottom: solid map-get($colortype , line ) 2px;
	display: block;
	width: 100%;
    padding: .3em 0;
	font-size: 1rem;
	background: none;
    outline: none;
    cursor: none;
	&:focus, &:valid {
		& + span {
			transform: translateY(-1.5em) scale(.7);
            color: map-get($colortype , accent );
			& + .border {
				transform: scaleX(1);
			}
		}
	}
    
}
.send{
        border: none;
        background: none;
        color: map-get($colortype , color2 );
        font-size: 1.1rem;
        font-weight: bold;
        transition: .5s;
        padding: 0;
    }
    .send:hover{
        color: map-get($colortype , accent );
    }
textarea.form-control {
    height: 60px;
}

.footer1{
    margin-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: solid map-get($colortype , color2 ) 1px;
    span{
    font-weight: lighter;
    color: #5a5a5a;
    h6{
        font-size: 10px;
        margin: 1.5em 0;
    }
}
}

  @media only screen and (min-width: 600px) {
    html{
        font-size: 18px;
      }
    .what{
        span{
            display: inline;

        }
    }
    
    .icons{
        display: flex;
        margin-top: 1em;
        .tr{
            margin-right: 0;
        }
    }
    .skillcon{
        width: 100%;
        margin-right: 1em;
        text-align: center;
    }
    .disc{
        display: flex;
        justify-content: space-between;
    }
    .about{
        margin-left: 2em;
    }
  }

  @media only screen and (min-width: 800px) {
    
    .body{
      width: 80%;
    }
    .about_container{
      display: flex;
    }
    .q{
        display: grid;
        align-content: center;
    }
    .headline{
        display: flex;
        justify-content: space-between;
    }
    .bgl{
        display: block;
        img{
            width: 300px;
        }
    }
    .footer{
        display: flex;
        margin-bottom: 6vh;
    }
    .int h5{
        margin: 1em 1em 0 1em;
    }
    .illus{
        h1{
            font-size: 50px;
            text{
                font-size: 46px;
            }
        }
    }
    
  }
  @media only screen and (min-width: 1000px) {
    .body{
        width: 75%;
      }
    html{
        font-size: 18px;
      }
    .headline{
        padding: 31vh 0;
    }
    .icons span{
        max-width: 250px;
    }
    .bgl{
        img{
            width: 35vw;
            position: relative;
        }
    }
    .fc{
        margin: 0 0 0 3em;
    }
    .footer{
        display: flex;
        margin-bottom: -3vh;
    }
    .illus{
        max-width: 1000px;
        h1{
            position: relative;
            font-size: 70px;
            text{
                font-size:64px;
            }
        }
    }
  }
