@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Rationale&display=swap");
@import url("http://fonts.cdnfonts.com/css/share-techmono-2");
.menu-btn {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn:hover .btn-line {
  background: #0FF2B2;
}

.menu-btn .btn-line {
  width: 30px;
  height: 4px;
  margin: 0 0 5px 0;
  background: white;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn .s {
  width: 20px;
  background: #0FF2B2;
  float: right;
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(7px, 6px);
          transform: rotate(45deg) translate(7px, 6px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
  background: #0FF2B2;
  width: 30px;
}

.menu {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding-right: 5%;
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
  background-color: black;
  pointer-events: none;
  display: -ms-grid;
  display: grid;
  place-content: end;
}

.menu-nav {
  text-align: right;
}

.menu-nav a {
  text-decoration: none;
  color: #bbbbbb;
}

.menu-nav li {
  list-style-type: none;
}

.menu-nav h1 {
  margin: 1em 0;
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 1.5rem;
}

.menu-nav h1:hover {
  color: #0FF2B2;
}

.menu.show {
  opacity: 0.9;
  pointer-events: all;
  overflow: hidden;
}

.nav-item {
  position: relative;
  opacity: 0;
  right: -200px;
}

.nav-item.show {
  right: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  opacity: 100;
}

.nav-item.close {
  -webkit-transform: translateX(190px);
          transform: translateX(190px);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  opacity: 0;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

#path {
  stroke-dasharray: 11;
  stroke-dashoffset: 11;
}

.test #path {
  -webkit-animation: clipanim .3s linear forwards;
          animation: clipanim .3s linear forwards;
}

@-webkit-keyframes clipanim {
  from {
    stroke-dashoffset: 11;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes clipanim {
  from {
    stroke-dashoffset: 11;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.epiccursor {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #0BBF8C;
  position: fixed;
  z-index: 5;
  opacity: .9;
  pointer-events: none;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.cursormain {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  z-index: 5;
  pointer-events: none;
}

.addcopy {
  width: 80px;
  height: 80px;
  position: fixed;
  z-index: 5;
  pointer-events: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-image: url("../../svg/addcopy.svg");
}

.visitSite, .caseStudy {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #0BBF8C;
  color: white;
  position: fixed;
  z-index: 5;
  text-align: center;
  display: -ms-grid;
  display: grid;
  font-size: 15px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  -ms-flex-line-pack: center;
      align-content: center;
  letter-spacing: 1px;
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
}

.shrink {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0;
}

.sitegrow {
  -webkit-animation: cursorAnim2 0.3s forwards;
          animation: cursorAnim2 0.3s forwards;
}

.expand {
  -webkit-animation: cursorAnim2 0.3s linear;
          animation: cursorAnim2 0.3s linear;
}

.grow {
  -webkit-animation: cursorAnim .5s infinite alternate;
          animation: cursorAnim .5s infinite alternate;
  border: 1px solid #0FF2B2;
}

@-webkit-keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes cursorAnim2 {
  25% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes cursorAnim2 {
  25% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes cursorAnim3 {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes cursorAnim3 {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #071110;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0BBF8C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0FF2B2;
}

body {
  margin: 0 auto;
  background-color: black;
  font-family: 'Be Vietnam', sans-serif;
  color: #0BBF8C;
  cursor: none;
}

body a {
  cursor: none;
}

.nav_container {
  width: 100%;
  padding: .8em 0 3em 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, black), to(#000f1a00));
  background-image: linear-gradient(to bottom, black 50%, #000f1a00 100%);
  position: fixed;
  z-index: 4;
}

.menu1 {
  width: 400px;
  position: relative;
  top: -5px;
  right: 1em;
  display: none;
}

.menu1 ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.menu1 ul li a {
  text-decoration: none;
  color: #bbbbbb;
  font-size: medium;
  font-weight: normal;
}

.menu1 ul li a:hover {
  color: #0FF2B2;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 96%;
  margin: 0 auto;
  padding: .2em 1.5vw;
}

.bgl {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: none;
}

.q {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.arrow {
  width: 15px;
  position: relative;
  top: 40px;
}

.side {
  width: 96%;
  padding: 0 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  bottom: 5vh;
  z-index: -4;
  margin: 0 auto;
}

.body_container {
  height: auto;
  padding: 1em 0;
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
}

.headline {
  padding: 30vh 0;
}

.body {
  width: 85%;
  margin: 0 auto;
}

.body h3 {
  font-size: 1em;
  margin: 0;
  font-weight: normal;
}

.body h2 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: lighter;
  color: #107369;
}

.body h4 {
  margin: 0;
  margin-bottom: .5em;
  color: #bbbbbb;
  line-height: 1.5em;
  font-size: 1.2rem;
  font-family: 'Kanit', sans-serif;
}

.body text {
  color: #bbbbbb;
}

.body a {
  text-decoration: none;
  color: #0BBF8C;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.body a:hover {
  color: #0FF2B2;
}

.quote {
  max-width: 500px;
  margin: .5em 0;
}

.line {
  padding: 1em 0;
}

.about_container h3,
.work_container h3,
.footer h3 {
  font-size: 1.1em;
  font-weight: lighter;
  color: #107369;
}

#about {
  padding-top: 8em;
}

.illus {
  margin-bottom: .5em;
}

.illus h1 {
  position: relative;
  margin: 0;
  font-weight: bolder;
  font-size: 2.5rem;
  font-family: 'Kanit', sans-serif;
  color: #0BBF8C;
  line-height: 1em;
}

.illus h1 text {
  font-size: 2.2rem;
  color: #0BBF8C;
}

.about {
  max-width: 600px;
}

.fc {
  width: 100%;
}

.about h6 {
  margin: 0;
  font-size: .8rem;
  color: #bbbbbb;
  font-weight: lighter;
}

.about h5 {
  margin: 0;
  font-weight: normal;
  color: #bbbbbb;
}

.about h5 a {
  font-size: 1.2em;
}

.what {
  text-align: center;
}

.what h4 {
  margin: 0;
  margin-bottom: .5em;
  color: #0BBF8C;
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
}

.what h5 {
  margin: 0;
  color: #bbbbbb;
  font-weight: normal;
}

.what h6 {
  margin: 0;
  font-size: .8rem;
  color: #bbbbbb;
  font-weight: lighter;
}

.b {
  margin: 0;
  font-size: .8rem;
  font-weight: normal;
  color: #0BBF8C;
}

.icons {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skillcon {
  padding: 1.5em;
  border: solid 1px #001E16;
  margin: 1.5em 0;
}

.icon img {
  width: 3em;
  margin: 1em;
}

#work, #contact {
  margin-top: 10em;
  padding-top: 5em;
}

.work h5 {
  font-weight: lighter;
  line-height: 1.7em;
  font-size: 1rem;
  color: #bbbbbb;
}

.wline {
  padding: 1em 0;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5em 0;
  position: relative;
  border-bottom: solid 1px #001E16;
}

.work h4 {
  margin-bottom: .5em;
  color: white;
  font-family: 'Kanit', sans-serif;
}

.work h5 {
  margin: 0;
}

.argo {
  margin-left: 2em;
  padding-top: 5px;
}

.argo img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.work:hover .argo img {
  -webkit-transform: rotate(-130deg);
          transform: rotate(-130deg);
}

.overlay {
  position: absolute;
  font-weight: bolder;
  color: #555555;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.work:hover .overlay {
  opacity: .9;
}

.footer {
  width: 100%;
}

.footer .int {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin-bottom: 2em;
}

.footer h2 {
  color: white;
  font-size: 2rem;
  font-family: 'Kanit', sans-serif;
}

.footer h3 {
  margin: 0;
}

.footer h5 {
  color: #bbbbbb;
  font-weight: lighter;
  line-height: 1.5em;
  font-size: 1rem;
  margin: 1em 0;
}

.footer h5 a {
  color: #0FF2B2;
  margin: 0;
}

.footer form {
  margin: .5em 0;
  border: solid 1px #001E16;
  padding: 1.5em 1em;
}

.link {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 1em;
  background: none;
  color: #bbbbbb;
  cursor: none;
  border: none;
  padding: 0 1.5em;
  background: black;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.clipb {
  position: relative;
  bottom: -2px;
}

.link:active .clipb {
  -webkit-animation: cursorAnim2 0.3s linear 1;
          animation: cursorAnim2 0.3s linear 1;
}

.con {
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 1em;
  border-bottom: solid 1px #001E16;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.form-group {
  position: relative;
  margin: 0 0 1em 0;
}

.form-group span {
  font-size: .7rem;
  color: white;
  position: absolute;
  top: .5em;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  cursor: text;
  font-weight: lighter;
  pointer-events: none;
}

.form-group .border {
  height: 2px;
  display: block;
  position: relative;
  left: 0;
  top: -2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background: #0FF2B2;
}

.mb {
  margin-bottom: .5em;
}

.form-control {
  border: none;
  color: white;
  border-bottom: solid #001E16 2px;
  display: block;
  width: 100%;
  padding: .3em 0;
  font-size: 1rem;
  background: none;
  outline: none;
  cursor: none;
}

.form-control:focus + span, .form-control:valid + span {
  -webkit-transform: translateY(-1.5em) scale(0.7);
          transform: translateY(-1.5em) scale(0.7);
  color: #0FF2B2;
}

.form-control:focus + span + .border, .form-control:valid + span + .border {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.send {
  border: none;
  background: none;
  color: #0BBF8C;
  font-size: 1.1rem;
  font-weight: bold;
  -webkit-transition: .5s;
  transition: .5s;
  padding: 0;
}

.send:hover {
  color: #0FF2B2;
}

textarea.form-control {
  height: 60px;
}

.footer1 {
  margin-top: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: solid #0BBF8C 1px;
}

.footer1 span {
  font-weight: lighter;
  color: #5a5a5a;
}

.footer1 span h6 {
  font-size: 10px;
  margin: 1.5em 0;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 18px;
  }
  .what span {
    display: inline;
  }
  .menu-btn {
    display: none;
  }
  .menu1 {
    display: block;
  }
  .icons {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1em;
  }
  .icons .tr {
    margin-right: 0;
  }
  .skillcon {
    width: 300px;
    margin-right: 2em;
    text-align: center;
  }
  .disc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 800px) {
  .body {
    width: 80%;
  }
  .about_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .q {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 380px;
  }
  .headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bgl {
    display: block;
  }
  .bgl img {
    width: 300px;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 6vh;
  }
  .int h5 {
    margin: 1em 1em 0 1em;
  }
  .illus h1 {
    font-size: 50px;
  }
  .illus h1 text {
    font-size: 46px;
  }
}

@media only screen and (min-width: 1000px) {
  .body {
    width: 75%;
  }
  html {
    font-size: 18px;
  }
  .icons span {
    max-width: 250px;
  }
  .bgl img {
    width: 35vw;
    max-width: 500px;
    position: relative;
  }
  .fc {
    margin: 0 0 0 3em;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: -3vh;
  }
  .illus {
    max-width: 1000px;
  }
  .illus h1 {
    position: relative;
    font-size: 70px;
  }
  .illus h1 text {
    font-size: 64px;
  }
  .w {
    position: relative;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
  }
  .nav_container, .side {
    max-width: 1350px;
  }
}
/*# sourceMappingURL=main.css.map */